.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/artifacts
**/build
**/cache
**/coverage
**/.coverage_artifacts
**/.coverage_cache
**/.coverage_contracts
**/dist

**/node_modules

yarn-debug.log*
yarn-error.log*

env.local
.env.development.local
.env.test.local
.env.production.local

.vercel

packages/hardhat/*.txt
packages/hardhat/cache
packages/hardhat/artifacts
packages/hardhat/deployments

*~
.fuse_hidden*
.Trash-*
.nfs*